html {
    background-color:violet
}
h1 {
    text-align: center;
    margin: 50px 50px 50px 50px;
    color: black
    font-family: sans-serif;
    font-size: 25px;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px 50px 10px 50px;
}
h3 {
    text-align: justify;
    font-family: sans-serif;
    margin: 60px 50px 30px 150px;
}
p {
    font-family: sans-serif;
    margin: 20px 50px 20px 50px;
    text-align: center;
    font-size: 25px;
    }
 .cim {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    margin: 100px 50px 100px 50px;
}
h6 {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin: 10px 50px 10px 50px;
}
h5 {
    text-align: justify;
    font-family: sans-serif;
    font-size: 18px;
    margin: 30px 50px 10px 50px;
}
h4 {
    text-align: justify;
    font-family: sans-serif;
    font-size: 22px;
    margin: 30px 50px 10px 50px;
}
img {
    border-style: double;
    width: 300px;
    margin: 10px 10px 10px 10px;
      background-color: black
    box-shadow: 15px 15px 30px 15px
    }
     