html {
    background-color: violet;
    }
    h1 {
    text-align: center;
    margin: 50px 50px 50px 50px;
    font-family: sans-serif;
    }
    h2 {
    text-align: left;
    margin: 100px 50px 100px 50px;
    font-family: sans-serif;
    }
    h3 {
    text-align: justify;
    margin: 100px 50px 100px 50px;
    font-family: sans-serif;
    }
    img {
        border-style: double;
        width: 150px;
        margin: 10px 10px 10px 600px;
          background-color: black
        box-shadow: 15px 15px 30px 15px
        }